<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="edu.kit.exp.impl.run" />
    <module name="Exp_Implementation" />
    <option name="PROGRAM_PARAMETERS" value="-s" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="edu.kit.exp.impl.*" />
        <option name="ENABLED" value="false" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>